

@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    color: blue;

}


body{
  @apply bg-gradient-to-r from-[#ffffff] to-[#f8f9fa]
}

/* .btn1{
  background: linear-gradient(4deg, rgba(42,51,134,1) 36%, rgba(0,101,154,1) 100%);
} */


.google-font{
  font-family: "Inter Tight", serif;
}


